{% extends "base.html" %}

{% block title %}Job-Detail{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">{{ job.title }}</h1>
    <p class="lead">关于这个职位, 你想知道的都在这里</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h4>职位标签</h4>
    {%  for tag in job.tags.split() %}
    <span class="badge badge-pill badge-info">{{ tag }}</span>
    {% endfor %}
    <br>
    <br>
    <h4>职位描述</h4>
    <p>{{ job.intro }}</p>
  </div>
  <div class="col-md-4">
      <div class="media">
        <!--firm detail page-->
        <a href="{{ url_for('firm.detail', user_id=job.company.id) }}">
          <img src="{{ job.company.company_info.logo }}" class="mr-3" width="64" height="64" alt="{{ job.company.username }}">
        <div class="media-body">
          <p class="mt-0">{{ job.company.username }}</p>
        </a>
        <small class="text-muted">{{ job.create_at }}</small>
        </div>
      </div>
      <br>
      <center>
      <p>薪酬: {{ job.salary_lower }}k-{{ job.salary_upper }}k</p>
      {% if job.experience_lower == 0 %}
      <p>经验: 经验不限</p>
      {% else %}
      <p>经验: {{ job.experience_lower }}-{{ job.experience_upper }}年</p>
      {% endif %}
      <p>学历: {{ job.education }}</p>
      {% if current_user.is_authenticated and current_user.is_user %}
      <a href="#" class="btn btn-outline-dark" role="button" aria-pressed="true">投递简历</a>
      {% endif %}
      </center>
  </div>
</div>
{% endblock %}
