{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}Jobs{% endblock %}

{% block body%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">JOBPLUS</h1>
    <p class="lead">总有一款适合你</p>
  </div>
</div>
<div class="card-columns">
  {% for job in pagination.items %}
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
          <a href="{{ url_for('job.job_detail', job_id=job.id) }}">
        <h5 class="card-title">{{ job.title }}</h5>
        </a>
        <p class="card-text">
          {{ job.salary_lower }}k-{{ job.salary_upper }}k
          {% if job.experience_lower == 0 %}
          经验不限
          {% else %}
          {{ job.experience_lower }}-{{ job.experience_upper }}年
          {% endif %}
        </p>
        <p class="card-text">
          {{ job.education }}
          {{ job.company.company_info.address }}
        </p>
        {% for tag in job.tags.split() %}
        <span class="badge badge-pill badge-info">{{ tag }}</span>
        {% endfor %}
      </div>
      <div class="card-footer">
        <div class="media">
            <a href="#">
            <img src="{{ job.company.company_info.logo }}" class="mr-3" width="64" height="64" alt="{{ job.company.username }}">
          <div class="media-body">
            <p class="mt-0">{{ job.company.username }}</p>
            </a>
            <small class="text-muted">{{ job.create_at }}</small>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{{ render_pagination(pagination, 'job.jobs') }}
{% endblock %}
