{% extends "company/index.html" %}

{% block title %}UserInfo{% endblock %}

{% block company%}
<div class="card text-center">
  <div class="card-header">
    企业信息一览
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">邮箱：{{ user.email }}</p>
    <p class="card-text">企业地址：{{ user.company_info.address }}</p> 
    <p class="card-text">业务领域：{{ user.company_info.domain }}</p>
    <p class="card-text">一句话简介</p>
    <p class="card-text">{{ user.company_info.intro }}</p>
    <p class="card-text">详细介绍：</p>
    <p class="card-text">{{ user.company_info.detail }}</p>
    <p class="card-text">企业 Logo：{{ user.company_info.logo }}</p>
    <p class="card-text">企业主页：{{ user.company_info.website }}</p>
    <a href="{{ url_for('company.edit_companyinfo') }}" class="btn btn-primary">编辑企业信息</a>
    <a href="{{ url_for('company.edit_company') }}" class="btn btn-primary">编辑帐户信息</a>
  </div>
</div>
{% endblock %}
