{% extends "admin/index.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}Admin-Jobs{% endblock %}

{% block admin %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>职位</th>
      <th>薪资</th>
      <th>经验</th>
      <th>学历</th>
      <th>标签</th>
      <th>操作</th>
    </tr>
    <tbody>
      {% for job in pagination.items %}
      <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.title }}</td>
        <td>{{ job.salary_lower }}k-{{ job.salary_upper }}k</td>
        <td>{{ job.experience_lower }}-{{ job.experience_upper }}</td>
        <td>{{ job.education }}</td>
        <td>{{ job.tags }}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" 
                    type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
               操作
            </button>

            <div class="dropdown-menu">
               <a class="dropdown-item" 
                  href="{{ url_for('admin.edit_job', job_id=job.id) }}">编辑</a>
               <a class="dropdown-item" 
                  href="{{ url_for('admin.del_job', job_id=job.id) }}">删除</a>
               <a class="dropdown-item" 
                  href="{{ url_for('job.job_detail', job_id=job.id) }}">查看</a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>
{{ render_pagination(pagination, 'admin.jobs') }}
{% endblock %}
