{% extends "base.html" %}

{% block title %}Company-Detail{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="container">
        <h1 class="display-4">{{ firm.username }}</h1>
        <h4>{{ firm.company_info.intro }}</h4>
        <br>
        <p class="lead">关于这个公司, 你想知道的都在这里</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <img src="{{ firm.company_info.logo }}" class="mr-3" width="160" height="160" alt="{{ firm.username }}">
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">企业详情</a>
  </li>
  <li class="nav-item" >
  <a class="nav-link" href="{{ url_for('firm.jobs', user_id=firm.id) }}">
                               在招职位: {{ jobs_num }}</a>
  </li>
</ul>
<div class="row">
  <div class="col-md-8">
    <br>
    <h4>业务领域</h4>
    {% if firm.company_info.domain %}
    {% for domain in firm.company_info.domain.split() %}
    <span class="badge badge-pill badge-info">{{ domain }}</span>
    {% endfor %}
    {% else %}
    <span class="badge badge-pill badge-info">暂无</span>
    {% endif %}
    <br>
    <br>
    <h4>企业介绍</h4>
    <p>{{ firm.company_info.detail }}</p>
  </div>
  <div class="col-md-4">
    <br>
    <center>
    <h4>企业基本信息</h4>
    <a href="{{ firm.company_info.website }}">
      <p>官方网站</p>
    </a>
    <p>所在城市: {{  firm.company_info.address }}</p>
    </center>
  </div>
</div>
{% endblock %}
