{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}Jobs{% endblock %}

{% block body%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">JOBPLUS</h1>
    <p class="lead">他们都在这里等着你, 也有可能是别人</p>
  </div>
</div>
<div class="card-columns">
  {% for company in pagination.items %}
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <div class="media">
            <a href="{{ url_for('firm.detail', user_id=company.id) }}">
            <img src="{{ company.company_info.logo }}" class="mr-3" width="64" height="64" alt="{{ company.username }}">
            <div class="media-body">
              <p class="mt-0">{{ company.username }}</p>
          </a>
              <p class="mt-0">
              {{ company.company_info.address }}
                <a href="{{ company.company_info.website }}">
              企业官网</p>
                </a>
            </div>
        </div>
        {% if company.company_info.domain %}
        {% for domain in company.company_info.domain.split() %}
          <span class="badge badge-pill badge-info">{{ domain }}</span>
        {% endfor %}
        {% else %}
          <span class="badge badge-pill badge-info">暂无</span>
        {% endif %}
      </div>
        <div class="card-footer">
          <center>
            <p>{{ company.company_info.intro }}</p>
            <p>再招职位：
            <a href="{{ url_for('firm.jobs', user_id=company.id) }}">
            {{ company.publish_job|length }}</p>
            </a>
          </center>
        </div>
    </div>
  {% endfor %}
</div>
{{ render_pagination(pagination, 'firm.firms') }}
{% endblock %}
