{% extends "base.html" %}

{% block title %}Company-Detail{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="container">
        <h1 class="display-4">{{ firm.username }}</h1>
        <h4>{{ firm.company_info.intro }}</h4>
        <br>
        <p class="lead">关于这个公司, 你想知道的都在这里</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <img src="{{ firm.company_info.logo }}" class="mr-3" width="160" height="160" alt="{{ firm.username }}">
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link" href="{{ url_for('firm.detail', user_id=firm.id) }}">企业详情</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link active" href="#">在招职位: {{ firm.publish_job|length }}</a>
  </li>
</ul>
<div class="row">
  <div class="col-md-8">
    <br>
    <div class="list-group">
      {% for job in jobs %}
      <a href="{{ url_for('job.job_detail', job_id=job.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ job.title  }}</h5>
          <small class="text-muted">{{ job.create_at }}</small>
        </div>
        <p class="mb-1">{{ job.salary_lower }}k-{{ job.salary_upper }}k
                        {% if job.experience_lower == 0 %}
                        经验不限 /
                        {% else %}
                        {{ job.experience_lower }}-{{ job.experience_upper }}年 /
                        {% endif %}
                        {{ job.education }}
        </p>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-4">
    <br>
    <center>
    <h4>企业基本信息</h4>
    <a href="{{ firm.company_info.website }}">
      <p>官方网站</p>
    </a>
    <p>所在城市: {{  firm.company_info.address }}</p>
    </center>
  </div>
</div>
{% endblock %}
